
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Religions Diversity in Australia - High-quality Education in Victoria</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../img/favicon.jpg" rel="icon">
    <link href="../../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/bootstrap-icons.css" rel="stylesheet">
    <link href="../../Content/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../Content/aos.css" rel="stylesheet">
    <link href="../../Content/glightbox.min.css" rel="stylesheet">
    <link href="../../Content/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/c3.min.css" rel="stylesheet" type="text/css" />

    <!-- Template Main CSS File -->
    <link href="../../Content/main.css" rel="stylesheet">
    <link href="../../Content/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: UpConstruction - v1.3.0
    * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="@Url.Action("Index", "Home")" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="../../img/SiteLogoNew03.png" alt="">
                <!--<h1>UpConstruction<span>.</span></h1>-->
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Intro", "EnglishSupports")">English Supports</a></li>
                    <li><a href="@Url.Action("Religions", "Home")" class="active">Religions</a></li>
                    <li><a href="@Url.Action("Intro", "TraditionalFestivals")">Traditional Festivals</a></li>
                    @*
                        <li><a href="blog.html">Blog</a></li>
                        <li class="dropdown">
                            <a href="#">
                                <span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                            </a>
                            <ul>
                                <li><a href="#">Dropdown 1</a></li>
                                <li class="dropdown">
                                    <a href="#">
                                        <span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                                    </a>
                                    <ul>
                                        <li><a href="#">Deep Dropdown 1</a></li>
                                        <li><a href="#">Deep Dropdown 2</a></li>
                                        <li><a href="#">Deep Dropdown 3</a></li>
                                        <li><a href="#">Deep Dropdown 4</a></li>
                                        <li><a href="#">Deep Dropdown 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dropdown 2</a></li>
                                <li><a href="#">Dropdown 3</a></li>
                                <li><a href="#">Dropdown 4</a></li>
                            </ul>
                        </li>
                    *@
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://assets.yourlifechoices.com.au/2016/09/30022715/road-sign-showing-all-different-religions-web.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>Religions Diversity in Australia</h2>
                <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Religions Diversity</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= Get Started Section ======= -->
        <!-- ======= Constructions Section ======= -->
        <section id="constructions" class="constructions">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Main Religions in Australia</h2>
                    <p>
                        Australia is an ethnically diverse country which lends to its religious composition. The people of this country have been practicing religion in some form for over a thousand years, beginning with the Aboriginal populations. Since the arrival of traders, colonizers, and immigrants during the 1700’s, many religions have been introduced to the area. Some of these are now more widely practiced than the original religions of the area. Australia ensures the religious freedom of its residents by constitutional decree. Many factors contribute to a person’s religious identification including age, ethnicity, and country of origin.Below is the four main religions in Australia.
                    </p>
                </div>

                <div class="row gy-4">

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(https://thumbs.dreamstime.com/b/concept-christian-religion-traditions-wood-symbol-christianity-cross-english-vintage-book-holy-bible-male-hands-199550925.jpg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Christianity</h4>
                                        <p>
                                            Christianity, major religion stemming from the life, teachings, and death of Jesus of Nazareth (the Christ, or the Anointed One of God) in the 1st century CE. It has become the largest of the world’s religions and, geographically, the most widely diffused of all faiths.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(https://s.wsj.net/public/resources/images/BN-HM855_cover_M_20150319160506.jpg); "></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Islam</h4>
                                        <p>
                                            Islam, major world religion promulgated by the Prophet Muhammad in Arabia in the 7th century CE. The Arabic term islām, literally “surrender,” illuminates the fundamental religious idea of Islam—that the believer (called a Muslim, from the active particle of islām) accepts surrender to the will of Allah.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(https://www.pewresearch.org/wp-content/uploads/2022/10/FT_22.10.26_hindu_featured.jpg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Hinduism</h4>
                                        <p>
                                            Hinduism, major world religion originating on the Indian subcontinent and comprising several and varied systems of philosophy, belief, and ritual. Although the name Hinduism is relatively new, having been coined by British writers in the first decades of the 19th century.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="card-item">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="card-bg" style="background-image: url(https://www.lionsroar.com/wp-content/uploads/2020/09/Ritzinger-Shan-David-Gilbert-Flickr.jpg);"></div>
                                </div>
                                <div class="col-xl-7 d-flex align-items-center">
                                    <div class="card-body">
                                        <h4 class="card-title">Buddhism</h4>
                                        <p>
                                            Buddhism, religion and philosophy that developed from the teachings of the Buddha, a teacher who lived in northern India between the mid-6th and mid-4th centuries BCE. Spreading from India to China, Korea, and Japan, Buddhism has played a central role in the spiritual, cultural, and social life.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Card Item -->
                </div>
            </div>
        </section><!-- End Constructions Section -->

        <section id="get-started" class="get-started section-bg">
            <div class="container">
                <div class="row  gy-4">
                    <div class="col-lg-5 " data-aos="fade-up">
                        <div class="content">
                            <div class="section-header">
                                <h2>Religion Ratio in Australia</h2>
                            </div>
                            <div class="container">
                                <p>
                                    The right bar chart shows the main religion ratio in Australia. The data is from 2020 Australian House Census, Grabbed from the Australia Bureau of Statistics (ABS). From the chart, it shows that the Christianity is the most popular religion in Australia (the Catholic, Anglican are two different types of Christianity). The second popular religion in Australia is Islam. From this set of data, if you are a Christian, you will learn more about Christianity in Australia from other christians if you go to the church activities.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7" data-aos="fade">
                        <form action="forms/quote.php" method="post" class="php-email-form">
                            <div id='chart' class="row gy-4" data-aos-delay="100"></div>
                        </form>
                    </div><!-- End Quote Form -->
                </div>
            </div>
        </section><!-- End Get Started Section -->

        <section id="constructions" class="constructions">
            <div class="container" data-aos="fade-up">


            </div>
        </section><!-- End Constructions Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content position-relative">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>High-quality <br />Education <br />in Victoria</h3>
                            <p>
                                Room 151, Briggs Hall <br>
                                42 College Walk, Clayton,<br>
                                Victoria, Australia, 3168<br><br>
                                <strong>Phone:</strong> +61 476234302<br>
                                <strong>Email:</strong> davidyu980408@outlook.com<br>
                            </p>
                        </div>
                    </div><!-- End footer info column-->

                    <div class="col-lg-2 col-md-3 footer-links">
                        @*<h4>Useful Links</h4>*@
                        <h4></h4>
                        <br />
                        <br />
                        <br />
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Intro", "EnglishSupports")">English Supports</a></li>
                            <li><a href="@Url.Action("Religions", "Home")">Religions</a></li>
                            <li><a href="@Url.Action("Intro", "TraditionalFestivals")">Traditional Festivals</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                        </ul>
                    </div><!-- End footer links column-->
                    @*
                        <div class="col-lg-2 col-md-3 footer-links">
                            @*<h4>Our Services</h4>
                            <h4></h4>
                            <br />
                            <br />
                            <br />
                            <ul>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Product Management</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Graphic Design</a></li>
                            </ul>
                        </div>
                    *@
                    <!-- End footer links column-->
                </div>
            </div>
        </div>

        <div class="footer-legal text-center position-relative">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>High-quality Education in Victoria</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>
    <script src="../../Scripts/aos.js"></script>
    <script src="../../Scripts/glightbox.min.js"></script>
    <script src="../../Scripts/isotope.pkgd.min.js"></script>
    <script src="../../Scripts/swiper-bundle.min.js"></script>
    <script src="../../Scripts/purecounter_vanilla.js"></script>
    <script src="../../Scripts/validate.js"></script>
    <script type="text/javascript" src="~/Scripts/c3.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../../Scripts/main.js"></script>

</body>

</html>

@* Pie Chart - Deprecated, Ready for Necessary in Future
<script>
    var chart = c3.generate({
        bindto: '#chart',
        data: {
            // iris data from R
            columns: [
                ["Catholic", 5291.8],
                ['Anglican', 3101.2],
                ['Other Christian', 3808.6],
                ['Islam', 604.2],
                ['Buddhism', 563.7],
                ['Hinduism', 440.3],
                ['Sikhism', 125.9],
                ['Judaism', 91.0],
                ['Other', 95.7],
                ['No religion', 7040.7]
            ],
            type: 'pie',
            //onclick: function (d, i) { console.log("onclick", d, i); },
            //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
            //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
        },
        size: {
            width: 640,
            height: 640,
        },
        pie: {
            label: {
                show: true,
                format: function (value, ratio, id) {
                    ratio = d3.format(".1%")(ratio); // format ratio
                    return [id, ratio].join();
                }
            }
        },
        tooltip: {
            format: {
                value: function (value, ratio, id, index) {
                    return value;
                }
            }
        }
    });
</script>
    *@

<script>
    var columnColors = ['fuchsia', 'green', 'purple', 'red', 'lime', 'coral',
        'deeppink', 'mediumturquoise', 'orange', 'blue'];

    var chart = c3.generate({
        bindto: '#chart',
        data: {
            x: 'Religion',
            labels: true,
            columns: [
                ['Religion', "Catholic", 'Anglican', 'Other Christian', 'Islam', 'Buddhism',
                    'Hinduism', 'Sikhism', 'Judaism', 'Other', 'No religion',],
                ['value', 5291.8, 3101.2, 3808.6, 604.2, 563.7, 440.3, 125.9, 91.0, 95.7, 7040.7]
            ],
            type: 'bar',
            colors: {
                value: function (d) {
                    return columnColors[d.index];
                }
            },
        },
        axis: {
            x: {
                type: 'category'
            },
            y: {
                label: 'Population'
            }
        },
        size: {
            width: 640,
            height: 480,
        },
        bar: {
            width: {
                ratio: 0.8
            },
            spacing: 4
        },
        tooltip: {
            grouped: false,
            format: {
                value: function (value, ratio, id, index) {
                    values = [5291.8, 3101.2, 3808.6, 604.2, 563.7, 440.3, 125.9, 91.0, 95.7, 7040.7]
                    total = values.reduce((a, b) => a + b, 0);
                    ratio = d3.format(".1%")(value / total);
                    return ratio;
                }
            }
        },
        legend: {
            show: false
        },
    });
</script>