@model FIT5120_Quality_Education_in_Australia_Iteration_01.Models.EnglishSupport

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Details of @Html.DisplayFor(model => model.InstitutionName) - High-quality Education in Victoria</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../img/favicon.jpg" rel="icon">
    <link href="../../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/bootstrap-icons.css" rel="stylesheet">
    <link href="../../Content/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../../Content/aos.css" rel="stylesheet">
    <link href="../../Content/glightbox.min.css" rel="stylesheet">
    <link href="../../Content/swiper-bundle.min.css" rel="stylesheet">
    <link href="../../Content/datatables.css" rel="stylesheet">
    <link href="../../Content/jquery-ui.css" rel="stylesheet">
    <link href="../../Content/dataTables.bootstrap5.css" rel="stylesheet">
    <link href="../../Content/datatables.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="../../Content/main.css" rel="stylesheet">
    <link href="../../Content/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: UpConstruction - v1.3.0
    * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="@Url.Action("Index", "Home")" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="../../img/SiteLogoNew03.png" alt="">
                <!--<h1>UpConstruction<span>.</span></h1>-->
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Intro", "EnglishSupports")" class="active">English Supports</a></li>
                    <li><a href="@Url.Action("Religions", "Home")">Religions</a></li>
                    @*
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="dropdown">
                            <a href="#">
                                <span>Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                            </a>
                            <ul>
                                <li><a href="#">Dropdown 1</a></li>
                                <li class="dropdown">
                                    <a href="#">
                                        <span>Deep Dropdown</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                                    </a>
                                    <ul>
                                        <li><a href="#">Deep Dropdown 1</a></li>
                                        <li><a href="#">Deep Dropdown 2</a></li>
                                        <li><a href="#">Deep Dropdown 3</a></li>
                                        <li><a href="#">Deep Dropdown 4</a></li>
                                        <li><a href="#">Deep Dropdown 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dropdown 2</a></li>
                                <li><a href="#">Dropdown 3</a></li>
                                <li><a href="#">Dropdown 4</a></li>
                            </ul>
                        </li>
                    *@
                    <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('https://b3071995.smushcdn.com/3071995/wp-content/uploads/AMEP.png?lossy=1&strip=1&webp=1');">
            <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

                <h2>@Html.DisplayFor(model => model.InstitutionName)</h2>
                <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Intro", "EnglishSupports")">Introduction</a></li>
                    <li>Details of @Html.DisplayFor(model => model.InstitutionName)</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->

        <section id="get-started" class="get-started section-bg">
            <div class="container">

                <div class="row justify-content-between gy-4">

                    <div class="col-lg-6 " data-aos="fade-up">
                        <div class="content">
                            <h3>@Html.DisplayFor(model => model.InstitutionName)</h3>

                            <dl>
                                <dt>
                                    @Html.LabelFor(model => model.Address, "Institution Address")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>

                                <dt>
                                    @Html.LabelFor(model => model.Suburb, "Suburb of Institution")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Suburb)
                                </dd>

                                <dt>
                                    @Html.LabelFor(model => model.DetailInformation, "Information of AMEP")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.DetailInformation)
                                </dd>

                                <dt>
                                    @Html.LabelFor(model => model.OfficialWebsite, "Official Website")
                                </dt>

                                <dd>
                                    <a href="@Html.DisplayFor(model => model.OfficialWebsite)">@Html.DisplayFor(model => model.OfficialWebsite)</a>
                                </dd>

                                <dt>
                                    @Html.LabelFor(model => model.Telephone, "Phone")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Telephone)
                                </dd>

                            </dl>
                            @Html.ActionLink("Back to List", "Index", "EnglishSupports", new { @style = "color: white; text-decoration: none", @class = "btn btn-primary" })
                        </div>

                    </div>

                    <div class="col-lg-5" data-aos="fade" style="display: flex; align-items: center; justify-content: center;">
                        <img src="@Html.DisplayFor(model => model.Image)" alt="@Html.DisplayFor(model => model.InstitutionName) Picture" class="col-md-12" />
                    </div><!-- End Quote Form -->

                </div>

            </div>
        </section><!-- End Get Started Section -->

    </main>


    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content position-relative">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>High-quality <br />Education <br />in Victoria</h3>
                            <p>
                                Room 151, Briggs Hall <br>
                                42 College Walk, Clayton,<br>
                                Victoria, Australia, 3168<br><br>
                                <strong>Phone:</strong> +61 476234302<br>
                                <strong>Email:</strong> davidyu980408@outlook.com<br>
                            </p>
                        </div>
                    </div><!-- End footer info column-->

                    <div class="col-lg-2 col-md-3 footer-links">
                        @*<h4>Useful Links</h4>*@
                        <h4></h4>
                        <br />
                        <br />
                        <br />
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("Intro", "EnglishSupports")">English Supports</a></li>
                            <li><a href="@Url.Action("Religions", "Home")">Religions</a></li>
                            <li><a href="@Url.Action("Intro", "TraditionalFestivals")">Traditional Festivals</a></li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact Us</a></li>
                        </ul>
                    </div><!-- End footer links column-->
                    @*
                        <div class="col-lg-2 col-md-3 footer-links">
                            @*<h4>Our Services</h4>
                            <h4></h4>
                            <br />
                            <br />
                            <br />
                            <ul>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Web Development</a></li>
                                <li><a href="#">Product Management</a></li>
                                <li><a href="#">Marketing</a></li>
                                <li><a href="#">Graphic Design</a></li>
                            </ul>
                        </div>
                    *@
                    <!-- End footer links column-->
                </div>
            </div>
        </div>

        <div class="footer-legal text-center position-relative">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>High-quality Education in Victoria</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../../Scripts/bootstrap.bundle.min.js"></script>
    <script src="../../Scripts/aos.js"></script>
    <script src="../../Scripts/glightbox.min.js"></script>
    <script src="../../Scripts/isotope.pkgd.min.js"></script>
    <script src="../../Scripts/swiper-bundle.min.js"></script>
    <script src="../../Scripts/purecounter_vanilla.js"></script>
    <script src="../../Scripts/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../../Scripts/main.js"></script>

</body>
</html>
